/* ----------------Index Page of Quiz Page--------------------- */

@media (min-width: 768px) {
    header {
        position: absolute;
        z-index: 1000;
        top: 0;
    }

    .semi-trans {
        padding-top: 150px;
        width: 72%;
    }
}

@media (max-width: 768px) {
    #btns-group, #intro-ico, hr {
        display: none;
    }

    .item-heading {
        font-size: 12pt !important;
    }
}

@media (max-width: 1024px) {
    .item-text {
        display: none;
    }
}

#btns-group {
    width: 100%;
}

.carousel {
    width: 100%;
    height: 500px;
    margin: 30px 0 50px 0;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    left: 10%;
    right: 10%;
    bottom: 5px;
    text-align: left;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-control {
    top: 42%;
}

.item-heading {
    font-size: 20pt;
}

a.item-heading {
    text-decoration: none;
}

.item-text {
    font-size: 16px;
}




/* ---------------- Fill Quiz Page --------------------- */

main{
  overflow-x: hidden;
}

.qPart *
{

}

.quiz
{	
	font-size:1.3em;
	min-height: 300px;
}

.progress{
	width:100%;
    margin-bottom: 50px;
}

.progress-bar{
    min-width: 2em;
}

.ans label
{
	font-size: 20px;
	margin:-7px 0 -7px 5px;
	line-height: 30px;
}

.quiz > input,
.quiz > textarea{
	width: 100%;
	padding: 6px;
}

.quiz input{
    color: #080808;
}

#intro
{
	margin-bottom: 80px;
}

.list-group{
	padding: 10px 30px 0 30px;
}

button:hover
{
	opacity: 0.4;
}


#divQ0{
	line-height: 35px;
}

#btns {
    padding-top: 50px;
    float:none;
}

#remark, #wait
{
	margin-top:100px;
}
