/* ----------------Index Page of Quiz Page--------------------- */

@media (min-width: 1024px) {
    header {
        position: absolute;
        z-index: 1000;
        top: 0;
    }

    .semi-trans {
        padding-top: 150px;
        width: 72%;
    }
}

@media (max-width: 1024px) {
    #btns-group, #intro-ico, hr {
        display: none;
    }

    .item-heading {
        font-size: 12pt !important;
    }
	
	.semi-trans {
        padding-top: 0 !important;
    }
	header{
		margin-top: 0 !important;
	}
	
	.carousel{
		margin-top: -150px !important;
	}
}

@media (max-width: 1024px) {
    .item-text {
        display: none;
    }
}

#btns-group {
    width: 100%;
}

.carousel {
    width: 100%;
    height: 500px;
    margin: 0 0 50px 0;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    left: 10%;
    right: 10%;
    bottom: 5px;
    text-align: left;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-control {
    top: 63%;
}

.item-heading {
    font-size: 20pt;
}

a.item-heading {
    text-decoration: none;
}

.item-text {
    font-size: 16px;
}

.nav-tabs li {
	font-size: 1.1em;
	font-style: bold;
}

.panel-heading{
	font-size: 1.4em;
	background: linear-gradient(to top right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.3) 100%);
}

.panel-heading a{
	font-size: 1em;
}

.panel-body{
	padding: 10px;
	font-size: 1.1em;
}

.panel-body p{
	text-indent: 1.1em;
}


/* ---------------- Fill Quiz Page --------------------- */

main{
  overflow-x: hidden;
  min-height: 550px;
}

.qPart *
{

}

.quiz
{	
	font-size:1.3em;
	min-height: 300px;
}

.progress{
	width:100%;
    margin-bottom: 50px;
}

.progress-bar{
    min-width: 2em;
}

.ans label
{
	font-size: 20px;
	margin:-7px 0 -7px 5px;
	line-height: 30px;
}

.quiz > input,
.quiz > textarea{
	width: 100%;
	padding: 6px;
}

.quiz input{
    color: #080808;
}

#intro
{
	margin-bottom: 80px;
}

.list-group{
	padding: 10px 30px 0 30px;
}

button:hover
{
	opacity: 0.4;
}


#divQ0{
	line-height: 35px;
}

#btns {
    padding-top: 50px;
    float:none;
}

#remark, #wait
{
	margin-top:100px;
}



/* ---------------- Quiz Result Page --------------------- */


.jumbotron p {
    text-indent: 2em;
}


#chart-container{
	width: 100%;
	margin-bottom:4em;
}