/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@import url('./font-awesome.min.css');
@import url('./iconfont.css');

body {
    color: #5a5a5a;
    font-family: "Helvetica Neue", "微软雅黑", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", Tahoma, Arial, STHeiti, sans-serif;
}

a:visited { 
    text-decoration: none;
}

/* ------------------------ Page main content ---------------------- */
main {
    margin-top: 100px;
	min-height: 550px;
}

footer{
	width:100% !important;
	margin: 50px 0 0 0  !important;
	padding: 50px 10px 40px 10px;
	background: rgba(0, 0, 10, 0.7);
}

footer *{
	color:white;
}

footer .pull-right{
	margin: 0 0 20px 0;
	padding-right: 10%;
	
}

footer a:hover{
	color: orange;
	text-decoration: none;
}

.semi-trans {
    background-color: rgba(0, 0, 0, 0.4);
}

/* ------------------------ Page Header ---------------------- */

.header-bg {
    margin: 80px 0 -40px 0;
    padding: 0 0 20px 0 !important;
    width: 100%;
    overflow: hidden;
}

.header-bg .semi-trans {
    padding: 30px;
    margin: 70px 0 0 0;
    color: #FFF;
}

/* ------------------------ Square Button ---------------------- */
.btn-square {
    border: 2px solid #fff;
    padding: 14px 35px 14px 35px;
    margin: 0 10px 0 10px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    transition: all 250ms;
}

.btn-square:hover {
    color: #fff;
    text-decoration: none;
}

.btn-clr-blue:hover {
    background: rgba(0, 125, 200, 0.7);
}

.btn-clr-red:hover {
    background: rgba(200, 125, 0, 0.7);
}

.btn-clr-green:hover {
    background: rgba(0, 200, 125, 0.7);
}

/* ------------------------ CUSTOMIZE THE NAVBAR ---------------------- */
.navbar {
    background: rgba(0, 0, 10, 0.7);
}

.navbar-inverse .navbar-nav > .open > a {
    background: rgba(0, 0, 10, 0.3) !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
}

.navbar-fixed-top {
    border: 0 !important;
}

.logo {
    margin: -8px 50px 16px 10px;
}

.m-logo {
    height: 30px;
    width: 30px;
    margin: 0 10px 0 -5px;
}

/* -------------------RESPONSIVE CSS--------------------- */
@media (min-width: 768px) {
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
}