<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PyISAPIe" path="*" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\inetpub\wwwroot\PyISAPIe-PsyMap\PyISAPIe_x64.dll" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="bitness64" responseBufferLimit="4194304" />
        </handlers>
    </system.webServer>
</configuration>
