{% extends "PsyMap/base_generic.html" %}

{% block title %}关于心理地图{% endblock %}

{% block html_head %}
    <style type="text/css">
        .blk{
            height: 120px;
            min-width: 350px;
        }
    </style>
{% endblock %}

{% block content %}
    <main class="container">

        <div class="container">

            <div class="page-header">
                <img class="pull-right" src="assets/ico/logo_57by57.png"/>
                <h1>关于心理地图</h1>
            </div>

            <div class="jumbotron">
                <h3>心理地图是什么</h3>
                <hr/>

                <p>　　“心理地图”应用旨在为用户提供科学的心理评估服务，利用网络社会媒体预测用户的心理特征，方便用户深入了解自身的内心世界。</p>

                <p>　　“心理地图”收录的心理评估量表均为专业性心理测评工具，其经过了专业科研人员的修订和检测，具备着较好的测量效果，在心理学专业内享有较高声誉。特别适合于非专业心理学爱好者使用。</p>

                <p>　　“心理地图”还可以利用我们的科研成果——“基于网络社会媒体的心理特征预测模型”，来利用微博、人人网、豆瓣网等网络社会媒体，分析预测用户的心理特征。</p>

                <p>　　在提供科学的心理状况评估的同时，“心理地图”也将作为一个邀请心理学被试用户有偿填写问卷调查的平台，为与心理学相关的研究提供数据支持和服务，希望您支持我们的研究。</p>
            </div>

            <div class="jumbotron">
                <h3>我们是谁</h3>
                <hr/>
                <p>　　“心理地图”由<strong>中国科学院心理研究所 计算网络心理学实验室</strong>开发。</p>

                <p>　　想要了解更多关于我们的信息或者联系我们，可以访问我们的<a target="_blank" href="http://ccpl.psych.ac.cn">实验室主页</a>，或者通过我们的网络社会媒体站点:
                </p>

                <div class="row">

                    <div class="col-xs-5 blk">
                        <div class="media">
                            <div class="media-left">
                                <a target="_blank" href="assets/img/qr_wechat.jpg"> <img class="media-object"
                                                                                         src="assets/img/icom_wechat.png"
                                                                                         alt="我们的微信公众账号"> </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">我们的<strong>微信公众号</strong></h4>
                                请用微信搜索，或点击按钮扫描二维码：
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown" aria-expanded="true">
                                        ccpl_psych
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><img src="assets/img/qr_wechat.jpg"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-5 blk">
                        <div class="media">
                            <div class="media-left">
                                <a target="_blank" href="http://weibo.com/u/2721210291"> <img class="media-object"
                                                                                              src="assets/img/icom_weibo.png"
                                                                                              alt="我们的新浪微博"> </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">我们的<strong>新浪微博</strong></h4>
                                <a target="_blank" href="http://weibo.com/u/2721210291">http://weibo.com/u/2721210291</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-5 blk">
                        <div class="media">
                            <div class="media-left">
                                <a target="_blank" href="http://page.renren.com/601131652"> <img class="media-object"
                                                                                                 src="assets/img/icom_renren.png"
                                                                                                 alt="我们的人人网"> </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">我们的<strong>人人网</strong></h4>
                                <a target="_blank"
                                   href="http://page.renren.com/601131652">http://page.renren.com/601131652</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-5 blk">
                        <div class="media">
                            <div class="media-left">
                                <a target="_blank" href="http://www.douban.com/people/PsyMap"> <img class="media-object"
                                                                                                    src="assets/img/icom_douban.png"
                                                                                                    alt="我们的豆瓣网"> </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">我们的<strong>豆瓣网</strong></h4>
                                <a target="_blank" href="http://www.douban.com/people/PsyMap">http://www.douban.com/people/PsyMap</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </main>
{% endblock %}