{% extends "PsyMap/base_generic.html" %}

{% block title %}心理地图 - 科学的心理测评{% endblock %}

{% block html_head %}
    <link href="assets/css/page-quiz.css" rel="stylesheet"/>
    <script type="text/javascript">
        var begT = -1, curQ = 0, numQ = {{ quiz.questions|length }};
        var lat = null, long = null;

        var Q = {
            show: function (id) {
                $('#bNext b').text("下一题").fadeIn();
                $('#bPrev').show();
                if (id == numQ) {
                    $('#bNext b').text("提交");
                } else if (id == 0) {
                    $('#bPrev').hide();
                    $('#bNext b').text("开始");
                } else if (id == 1 && -1 == begT) {
                    begT = (new Date()).getTime();
                }
                var progress = (curQ * 100 / numQ).toFixed(1) + '%';
                var pbar = $('#progR').width(progress).text(progress);
                if(id>0) $('html,body').scrollTop(pbar.offset().top - 80);
                return $("#divQ" + id).fadeIn();
            },
            hide: function (id) {
                return $("#divQ" + id).hide();
            },
            next: function () {
                if (!Q.chk(curQ)) {
                    alert("请您正确填写完成当前题目！");
                    return false;
                }
                (curQ < numQ) ? ( Q.hide(curQ) && Q.show(++curQ)) : Q.done();
            },
            prev: function () {
                (curQ > 0) ? ( Q.hide(curQ) && Q.show(--curQ)) : 0;
            },
            chk: function (i) {
                if (0 == i)return true;
                var div = '#divQ' + i;
                var t = $(div).find('>input, >textarea, .active>input');
                if (t.length) {
                    return t.val() != "" || t.val().length > 0;
                }
                if ($(div).attr('type') == 'single') {
                    return $(div).find('.active').length > 0;
                }
                return true;
            },
            done: function () {
                if (confirm("你确认提交答卷吗？")) {
                    if (curQ < 0)
                        return alert('正在提交，请稍后！');
                    curQ = -1;

                    var aa = {
                        "quiz_id": "{{ quiz_id }}",
                        "qgroup_id": "{{ grp_id }}",
                        "cost_seconds": (begT < 0) ? -1 : parseInt(((new Date()).getTime() - begT) / 1000),
                        "lat": lat,
                        "long": long,
                        "tz": (new Date()).getTimezoneOffset()*-60,
                        "answer": $('.quiz[id!="divQ0"]').map(function () {
                            var qid = $(this).attr('data'), ans = $(this).attr('value').replace(/"/g, '\\"');
                            var k = '"' + qid + '"=>"' + ans + '"';
                        }).get().join(',')
                    };

                    $.post("quiz/submit", aa, function (dd) {
                        if (dd.status == "success") {
                            for (var i in dd)
                                $('#fm').append($('<input/>', {type: 'hidden', name: i, value: dd[i]}));
                            $('#fm').submit();
                        } else if (dd.status == "no-login") {
                            alert("请您先登录之后再提交填写记过！您点击确认后将弹出登录窗口，请您允许弹出的窗口，并在登录之后再点击提交按钮。");
                            window.open("account/login");
                        }
                    }).error(function () {
                        alert("抱歉，网络传输失败或系统错误，请您稍后重试！欢迎您通过微博向我们反馈！");
                    }, "json");
                    curQ = numQ;
                }
            }
        };

        var P = {
            getPosSuccess: function (position) {
                lat = position.coords.latitude;
                long = position.coords.longitude;
            },
            getPosError: function (error) {
                switch (error.code) {
                    case error.TIMEOUT:
                        lat = long = 9999;
                        break;
                    case error.PERMISSION_DENIED:
                        lat = long = 9998;
                        break;
                    case error.POSITION_UNAVAILABLE:
                        lat = long = 9997;
                        break;
                }
            }
        };

        var OPT = {
            enable_option: function (obj, enable) {
                var status = enable ? ' active' : '';
                $(obj).attr('class', 'list-group-item' + status);
            },
            update_value: function (divQ) {
                if (divQ.attr('type') in {'multi': 1, 'single': 1}) {
                    var r = divQ.find('a.active').map(function () {
                        var o = this.getAttribute('data');
                        var t = $(this).find('input');
                        if (t.length) o += '(' + t.val() + ')';
                        return o;
                    }).get();
                    r = r.length > 1 ? ( '[' + r.join(' ') + ']' ) : r.join(' ');
                    divQ.attr('value', r);
                } else {
                    var r = divQ.find('>input, textarea').val();
                    divQ.attr('value', r);
                }
            },
            single_click: function () {
                var a = $(this);
                a.siblings().each(function () {
                    OPT.enable_option(this, false);
                });
                if (this.getAttribute('class').indexOf('active') < 0) {
                    OPT.enable_option(this, true);
                } else {
                    OPT.enable_option(this, false);
                }
                if (a.find('input').length) { //there is input box in this single option
                    a.find('input').select();
                } else {
                    setTimeout(Q.next, 800);
                }
                OPT.update_value(a.parent().parent());
            },
            multi_click: function () {
                if (this.getAttribute('class').indexOf('active') < 0) {
                    OPT.enable_option(this, true);
                } else {
                    OPT.enable_option(this, false);
                }
                if ($(this).find('input').length) { //there is input box in this single option
                    $(this).find('input').select();
                }
                OPT.update_value($(this).parent().parent());
            }
        };

        function prepare() {
            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method)); // these HTTP methods do not require CSRF protection
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                    }
                }
            });
            var str = "{{ quiz.information|linebreaksbr }}";
            $('#divQ0').html(str);

            $('.select-single a').click(OPT.single_click);
            $('.select-multi a').click(OPT.multi_click);

            $('.quiz a>input').change(function () {
                OPT.enable_option($(this).parent(), true);
                OPT.update_value($(this).parent().parent().parent());
            });
            $('.quiz>input, .quiz textarea').blur(function () {
                OPT.update_value($(this).parent());
            }).change(function () {
                OPT.update_value($(this).parent());
            });

            $('.quiz').hide();
            Q.show(curQ);
            navigator.geolocation.getCurrentPosition(P.getPosSuccess, P.getPosError, {
                enableHighAccuracy: true, maximumAge: 30000, timeout: 99999
            });

            $(document).keydown(function (event) {
                if (event.keyCode == 37) Q.prev();
                else if (event.keyCode == 39) Q.next();
            });

        }

        window.onload = prepare;
    </script>
{% endblock %}


{% block content %}
    <main class="container">
        <div class="row">

            <div id="intro" class="col-xs-12 col-md-3">

                <h3>量表填写：<br/>　{{ quiz.caption }}</h3>
                <h4>
                    　　欢迎您填写该量表，<br/>
                    　　本问卷题目总数为：<i> {{ quiz.questions|length }}</i>题。
                </h4>
                <hr/>
                <h4>　　请您按照要求认真填写，我们按照用户协议保障您的隐私。您的填写将只用于科研用途。</h4>
                <hr/>
                <span>{{ quiz.information|linebreaksbr }}</span>

                <form id="fm" method="POST" action="quiz/result">{% csrf_token %}</form>
            </div>

            <div class="col-xs-12 col-md-8 pull-right">
                <div class="progress progress-striped">
                    <div id="progR" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="2"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        0%
                    </div>
                </div>

                <div class="quiz" id="divQ0">问卷正在加载中，如果长期没有加载成功，请刷新！</div>
                {% for qid,q in quiz.questions.iteritems %}
                    <div class="quiz" id="divQ{{ forloop.counter }}" type="{{ q.type }}" data="{{ qid }}">
                        <label class="question"
                               for="input_q{{ forloop.counter }}">第{{ forloop.counter }}题　{{ q.title }}</label>
                        {% if q.type == 'multi' %}
                            <div class="alert alert-success" role="alert">
                                该题为多选题，点击选择所有答案后再点击“下一题”或“提交”按钮。
                            </div>
                        {% endif %}

                        {% if q.type == 'textarea' %}
                            <hr/>
                            <textarea name="{{ q.qid }}" rows="8" placeholder="请在此处填写"></textarea>
                        {% elif q.type == 'multi' or q.type == 'single' %}
                            <div class="list-group select-{{ q.type }}">
                                {% for aid,a in q.answers.iteritems %}
                                    <a data="{{ aid }}" class="list-group-item">
                                        {{ a.content }}
                                        {% if a.type != None %}
                                            <input type="{{ a.type }}" placeholder="请填写"/>
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <input id="input_q{{ forloop.counter }}" type="{{ q.type }}" required="required"
                                   autocomplete="off"
                            {% for r,rval in q.restriction.iteritems %}
                                {{ r }}="{{ rval }}"
                            {% endfor %} />
                        {% endif %}
                    </div>
                {% endfor %}
                <div id="btns" class="col-xs-8 col-md-5 center-block">
                    <div>
                        <button id="bPrev" class="btn btn-info pull-left" onclick="Q.prev()">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <b>上一题</b>
                        </button>
                        <button id="bNext" class="btn btn-info pull-right" onclick="Q.next()">
                            <b>下一题</b>
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}