{% extends "PsyMap/base_generic.html" %}

{% block title %}心理地图 - 科学的心理测评{% endblock %}

{% block html_head %}
    <link href="assets/css/page-quiz.css" rel="stylesheet">
    <script type="text/javascript">
        window.onload = function () {
            function slideCarousel(n) {
                if(!n){var n = window.location.hash.split('#')[1];}
                $('#myCarousel').carousel(parseInt(n)).attr('data-interval', false);
                $('.carousel').carousel("pause");
            }
            $('#myCarousel').on('slid.bs.carousel', function (e) {
                var m = $(e.relatedTarget).attr('data-slide-to');
                $('#myTab a[href="#tab_' + m + '"]').tab('show');
            });
            $('#btns-group a').click(function () {
                var slideIndex = $(this).attr('data-slide-to');
                slideCarousel(slideIndex);
            });
            $('a[data-toggle="tab"]').click(function () {
                var slideIndex = $(this).attr('href').split('_')[1];
                slideCarousel(slideIndex);
            });
            if (window.location.hash) {
                setTimeout(slideCarousel, 2);
            }
        };
    </script>
{% endblock %}

{% block content %}
    <header class="container header-bg special-top">
        <img id="intro-ico" class="img-circle col-xs-3" src="assets/img/c-a.png">

        <div class="semi-trans pull-right">
            <h1>科学全面的心理测评</h1>

            <p>　　在这里您能获取科学的心理评估服务，深入了解自身的内心世界。这里收录的心理评估量表均为专业性心理测评工具，经过了专业科研人员的修订和检测，具备较好的测量效果和专业内的声誉。</p>
            <hr/>
            <div id="btns-group" class="container">
                <a class="btn-square btn-clr-red" data-slide-to="0">性格测验</a>
                <a class="btn-square btn-clr-blue" data-slide-to="1">生活状态测验</a>
                <a class="btn-square btn-clr-green" data-slide-to="2">心理健康测验</a>
            </div>
        </div>
    </header>

    <main>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active" data-slide-to="0">
                    <img src="assets/img/slide-03.jpg">

                    <div class="carousel-caption">
                        <h1 class="text-right">人格测验 - 探索你的人格</h1>

                        <p>
                            　　人格（Personality，又译为性格），指人类心理特征的整合、统一体，是一个相对稳定的结构组织。并在不同时间、地域下影响着人的内隐和外显的心理特征和行为模式。西方语言中“人格”一词多源自拉丁文的persona，即“面具”，暗示了“人格”的社会功能。人格更是体现了一个人的特点和与众不同。万千世界，自然有不同的人格元素组合成了这一个个性格迥异的个体。</p>
                    </div>
                </div>
                <div class="item" data-slide-to="1">
                    <img src="assets/img/slide-13.jpg">

                    <div class="container">
                        <div class="carousel-caption">
                            <h1 class="text-right">生活状态评价 - 你幸福吗？</h1>

                            <p>
                                　　幸福，是指一个人的需求得到满足而产生喜快乐与稳定的心理状态。幸福划分为四个维度，满足、快乐、投入、意义。每个维度的幸福都是好的，但是将浅层次的快乐转化为深远的满足感和持久的幸福感是一件益处更大的事情。对于幸福的诠释涉及了哲学、心理学、社会学、经济学、文化学等多个学科。</p>
                        </div>
                    </div>
                </div>
                <div class="item" data-slide-to="2">
                    <img src="assets/img/slide-10.jpg">

                    <div class="container">
                        <div class="carousel-caption">
                            <h1 class="text-right">心理健康测验 - 关注你和亲友的心理健康</h1>

                            <p>
                                　　心理健康指个体能够适应和发展着的环境，具有完善的个性特征；且其认知、情绪反应、意志行为处于积极状态，并能保持正常的调控能力。从广义上讲，心理健康是指一种高效而满意的、持续的心理状态。从狭义上讲，心理健康是指人的基本心理活动的过程内容完整、协调一致，即认识、情感、意志、行为、人格完整和协调，能适应社会，与社会保持同步。</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- /.carousel -->

        <div class="container">
            <div role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab_0" role="tab" data-toggle="tab">性格测验</a></li>
                    <li role="presentation"><a href="#tab_1" role="tab" data-toggle="tab">生活状态测验</a></li>
                    <li role="presentation"><a href="#tab_2" role="tab" data-toggle="tab">心理健康测验</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div style="height: 30px;"></div>
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_0" aria-labelledby="home-tab">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-send"> </i> 大五人格测试(BFI)
                            </div>
                            <div class="panel-body">
                                <p>大五人格是近半个世纪来人格心理学研究的最重要成果，也是研究最多、应用最广的人格理论，对人的心理健康、职业成就、婚姻幸福等许多方面都具有很高的预测力。</p>
                                <a class="btn btn-info pull-right" href="quiz/fill/BFI48">进入测试</a>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-send"> </i> 艾森克人格问卷(EPQ)
                            </div>
                            <div class="panel-body">
                                <p>艾森克人格问卷是由英国心理学家艾森克编制的一种自陈量表，他主要从事人格、智力、行为遗传学和行为理论等方面的研究，主张从自然科学的角度看待心理学，把人看作一个生物性和社会性的有机体。在人格问题研究中，艾森克用因素分析法提出了神经质、外倾性以及精神质三维特征的理论。</p>
                                <a class="btn btn-info pull-right" href="quiz/fill/EPQ48">进入测试</a>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_1" aria-labelledby="profile-tab">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-send"> </i> 主观幸福感测验
                            </div>
                            <div class="panel-body">
                                <p>主观幸福感测验。</p>
                                <a class="btn btn-info pull-right" href="quiz/fill/SWB">进入测试</a>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_2" aria-labelledby="dropdown1-tab">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-send"> </i> 焦虑量表
                            </div>
                            <div class="panel-body">
                                <p>焦虑测量量表</p>
                                <a class="btn btn-info pull-right" href="quiz/fill/BFI48">进入测试</a>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-send"> </i> 抑郁量表
                            </div>
                            <div class="panel-body">
                                <p>抑郁测量量表</p>
                                <button class="btn btn-info pull-right">进入测试</button>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-send"> </i> 心理压力量表
                            </div>
                            <div class="panel-body">
                                <p>心理压力量表</p>
                                <button class="btn btn-info pull-right">进入测试</button>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-send"> </i> SCL-90-R心理健康自评量表
                            </div>
                            <div class="panel-body">
                                <p>SCL-90-R心理健康自评量表</p>
                                <button class="btn btn-info pull-right">进入测试</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}